<app-navbar></app-navbar>
<!-- *ngIf="friendstatus=='TRUE' ; else elseBlock" -->
<h5 style="margin-left:40% ; color:green "> <b>{{ value3 | uppercase }} </b>
  &nbsp; <button #btn *ngIf="friendstatus=='FALSE'" (click)="AddFriend(value3,btn)" > ADD FRIEND </button>
</h5>
<br>
<div >
    <mat-sidenav-container class="example-container side" style="width:100%;margin-left: 2%;margin-right: 2%"   >
     <mat-sidenav mode="side" opened style="width:25%">
         <mat-card class="example-card" style="width:90%;margin-left: 1%">
             <mat-card-header>
               <div mat-card-avatar class="example-header-image"></div>
               <mat-card-title>Shiba Inu this is it</mat-card-title>
               <mat-card-subtitle>Dog Breed</mat-card-subtitle>
             </mat-card-header>
             <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
             <mat-card-content>
               <p>
                 The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                 A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                 bred for hunting.
               </p>
             </mat-card-content>
             <mat-card-actions style="margin-top:5%">
                 <button mat-button style="margin-left:35%">FOLLOW</button>
                 
               </mat-card-actions>
           </mat-card>   
          
     </mat-sidenav>
    
    
    
    
    
    
    

    
     <mat-sidenav-content >
        
      <mat-card class="example-card" *ngFor="let ob1 of temp2" style="width:50%;margin-left:5%;margin-right:5%;" >
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
           <mat-card-title>
              {{ value3 }}    
            </mat-card-title> 
          <mat-card-subtitle>
              Heading   {{ob1.heading | stripdoublequotes }}
          </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src] ="ob1.imageUrl | stripdoublequotes" alt="Photo of a Shiba Inu">
        
        <mat-card-content>
            <p>
              Descripition 
              {{ob1.summary | stripdoublequotes }}
            </p>
            <p>
             Likes {{ ob1.nooflikes }} 
            </p>
        </mat-card-content>
        <mat-card-actions>
          <button [ngClass]="{'highlight' : ob1.likestatus | convertStringtoBool }" mat-button (click)="addLike(ob1)">LIKE</button>
          <button mat-button >{{ob1.likestatus}}</button>
        </mat-card-actions>
      </mat-card>
  
       
       
       
       
       
       
       
      
     
     </mat-sidenav-content>
   </mat-sidenav-container>
 </div>